<div [formGroup]="roundForm">
  <h2 mat-dialog-title>Add New Round</h2> 
  <mat-dialog-content style="height:400px">
    <mat-form-field>
      <input matInput formControlName="roundName" placeholder="Enter Round name">
    </mat-form-field>       
    <div class="row" formArrayName="categoryFinal">
      <div class="col-md-12" >
        <div class="row">
          <div class="col-md-11">
            <span>Add Category </span>
          </div>
        </div>
        <div [formGroupName]="0" class="row">
          <div class="col-md-3">
            <mat-input-container>
              <mat-select #Cat placeholder="Select Category" formControlName="category">
                <mat-option *ngFor="let category of categoryList" [value]="category.name">
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-input-container>
          </div>
          <div class="col-md-3">
            <mat-input-container>
              <input matInput #num type="number" formControlName="numberOfQuestion" placeholder="Number of Question">
            </mat-input-container>
          </div>
          <div class="col-md-3">
            <mat-input-container>
              <input matInput #pnt type="number" formControlName="point" placeholder="point">
            </mat-input-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a (click)="addCategory(Cat, num, pnt)" class="point">
          <strong> add more + </strong>
        </a>
      </div>
    </div>
    <div class="row">
        <table class="table-bordered table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Number of Question</th>
                <th>Point</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of getCategory(roundForm); let i = index">
                  <td>{{a.category}}</td>
                  <td>{{a.numberOfQuestion}}</td>
                  <td>{{a.point}}</td>
                  <td><span *ngIf="getAddresses(roundForm).length > 1" (click)="removeAddress(i)" class="glyphicon glyphicon-remove">X</span></td>
              </tr>
            </tbody>
          </table>
    </div>
    
    <mat-dialog-actions>
      <button  mat-raised-button class="btn-orng" type="button" (click) ="submit(roundForm)" [disabled]="!roundForm.valid" mat-dialog-close >Add</button>
      <button  mat-raised-button class="btn-orng" type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions> 
  </mat-dialog-content>
</div>